@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="about">
    <div class="container">
        <div class="about-info">
            <div class="col-md-6 about-grids">
                <h3>Who Are We? </h3>
                <img src="~/Template/images/img2.jpg" alt="" />
                <h5>GamersMed Pharmacy is your number one specialist when it comes to cannabis medication</h5>
                <p>
                    We specialize is prescription and supply of medication to patients. Our products are only distributed by prescription and approval from relative personal.
                    We have a team dedicated to assisting you with quality medicine at affordable prices and also assisting in any queries you might have. 

                </p>
            </div>
            <div class="col-md-6 about-grids">
                <h3>Our Specials</h3>
                <h5>We offer free shipping and delivery upon approval of prescription. </h5>
                <p>In the event that you are unable to fetch your medications at your pharmacy physically, you can contact us for delivery free of charge. Anywhere in South Africa. </p>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                                    KwaZulu Natal
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                            <div class="panel-body">
                                Our main branch is located in Durban. For collection or delivery queries for surrounding areas please contact us on 031 234 5678.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Gauteng
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                            <div class="panel-body">
                                For collection or delivery queries for areas in the province please contact us on 011 234 5678
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    FreeState
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                            <div class="panel-body">
                                For collection or delivery queries for areas in this province please contact us on 051 234 5678
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Eastern Cape
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false">
                            <div class="panel-body">
                                For collection or delivery queries for areas in this province please contact us on 041 234 5678
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Western Cape
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false">
                            <div class="panel-body">
                                For collection or delivery queries for areas in this province please contact us on 021 234 5678
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- team -->
        <div class="team">
            <h3>Our Team Members</h3>
            <div class="team-info">
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="w3team-gridinfo">
                        <img class="img-responsive" src="~/Template/images/afrnurse.jpg" alt="">
                        <div class="captn">
                            <h4>Ms L Shandu</h4>
                            <p>Medical specialist with cannabis medication with 5+ years of experience </p>
                            <ul class="w3-agileitsicons">
                                <li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="w3team-gridinfo">
                        <img class="img-responsive" src="~/Template/images/img4.jpg" alt="">
                        <div class="captn">
                            <h4>Ms N Duma</h4>
                            <p>Profesional medical doctor who specializes in cardiovascular health</p>
                            <ul class="w3-agileitsicons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="w3team-gridinfo">
                        <img class="img-responsive" src="~/Template/images/afrmnurse.jpg" alt="">
                        <div class="captn">
                            <h4>Mr L Mbuyi</h4>
                            <p>General Practitioner(GP) responsibly for prescription approvals</p>
                            <ul class="w3-agileitsicons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a class="be" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="w3team-gridinfo">
                        <img class="img-responsive" src="~/Template/images/img6.jpg" alt="">
                        <div class="captn">
                            <h4>Mr A Mbatha</h4>
                            <p>Pharmaceutical scientist</p>
                            <ul class="w3-agileitsicons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a class="be" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //team -->
    </div>
</div>
