@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="contact">
    <div class="container">
        <div class="contact-grids">
            <div class="col-md-8 map">
                <h3>How to find us</h3>
                <iframe src="https://www.google.com/maps/place/Glenwood,+Berea,+4001/@-29.8716626,30.9896593,14z/data=!4m2!3m1!1s0x1ef7a98a5ae6d39b:0x587a106567182a7f"></iframe>
            </div>
            <div class="col-md-4 address">
                <h3>Contact info</h3>
                <p class="cnt-p">Find us at : 12 Bulwer Road,Berea, Durban 4001</p>
                <p>Eiusmod Tempor inc</p>
                <p>9560 St Dolor,London</p>
                <p>Telephone : +27 31 234 5678</p>
                <p>FAX : +27 31 234 9876</p>
                <p>Email : <a href="mailto:Info@gamersmed.co.za">info@gamersmed.co.za</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="contact-form">
            <h3>Contact form</h3>
            <form action="#" method="post">
                <div class="col-md-6 col-sm-6 form-grids">
                    <input type="text" name="Name" placeholder="Name" required="">
                    <input type="email" name="Email" placeholder="Email" required="">
                    <input type="text" name="Telephone" placeholder="Telephone" required="">
                </div>
                <div class="col-md-6 col-sm-6 form-grids">
                    <textarea name="Message" placeholder="Message" required=""></textarea>
                    <button class="btn btn-1 btn-1d"> Submit </button>
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>
