.image-medicine {
    padding-top: 50px;
}

.content-medicine-main {
    padding-top: 30px;
    text-align: justify;
}

.content-medicine-name-origin {
    border-bottom: 1px solid #b1b1b1;
}

.content-medicine-product-details {
    border-left: 1px solid #b1b1b1;
    padding-top: 50px;
}

.medicine-details-heading {
    color: #0082ff;
    padding-top: 40px;
}
